.connection-div {
    width: 300px;
    height: 100%;
    border: 2px solid black;
    
}

.yellow-block{
    width: 100%;
    height: 10px;
    background-color: #FFCD05;
}

.margin-div{
    padding-left: 7%;
    padding-right: 7%;

}

.h2-connection {
    text-decoration: underline;
    text-decoration-color: #FFCD05;
    text-underline-offset: 10px;
    color: black;
    font-size: x-large;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
}


.form-connection{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 2px solid #FFCD05;
}

.login-area,
.password-area {
    width: 100%;
    resize: none;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border: 2px solid #000000;
}



.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.checkbox-container label {
    font-size: 15px;
    cursor: pointer;
}

.button-connection{
    height: 35px;
    border-radius: 8px;
    background-color: #FFCD05;
    font-size: 18px;
    cursor: pointer;

}

.button-connection:hover{
    background-color: #d9ad01;
}

.button-register{
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
    background-color: #005DA5;
    color:white;
    font-size: 18px;
    cursor: pointer;
}

.button-register:hover{
    background-color: #004175;
}

.error-message{
    color: red;
}
