.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    border-bottom: 2px solid #000000;
    background: white;
}

.logo-RAGAdmin, .logo-la-poste {
    display: inline;
    width: 150px;
    height: auto;
}

.user-info {
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 90%;
    width: 12%;
    border-left: 2px solid #000000;
    gap: 10px;
}

.user-detail {
    display: flex;
    flex-direction: column;
}

.user-info img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.user-span {
    font-size: 14px;
    font-weight: 500;
    color: black;
    display: block;
}

.deconnect-span {
    font-size: 14px;
    font-weight: 500;
    color: grey;
    display: block;
}

.deconnect-span:hover {
    font-size: 14px;
    font-weight: 500;
    color: #3c3c3c;
    cursor: pointer;
    display: block;
    text-underline-style: single;
    text-underline: #3c3c3c;
}