.main-container {
    display: flex;
    height: calc(100% - 80px);
    background-color: white;
}

.left-side{
    float: left;
    height: 100%;
    width: 30%;
    border-right: black solid 2px;
    padding: 2%;
}

.right-side {
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

